h1{
    font-size: x-large;
}
h2{
    font-size: large;
}
.container-home{
    position: fixed;
    top: 0;
	bottom: 0;
	right: 0;
	left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: royalblue solid 3px;
    z-index: 500;
}
.container{
    border: brown solid 3px;
}
.container-hidden{
    display: none;
}